@import "tailwindcss";

@layer base {
  :root {
    --font-inter: "Inter", sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-inter);
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f5f9;
  }
  ::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 99px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }
}

@layer utilities {
  .font-sans {
    font-family: var(--font-inter);
  }
}
